* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: Acumin,sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

img{
  height:100px;
}

.row {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

h1{
  justify-content:center;
  text-align: center;
  font-family: Acumin,sans-serif;
}

h2{
  font-family: Acumin,sans-serif;
}
.card {
  width: 20%;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #2abdf0,#004f8f);
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  margin: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }

  img{
    height:200px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

@media screen and (max-width: 1920px) {
  .card {
    width: 40%;
  }

  img{
    height:200px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 40%;
  }

  img{
    height:200px;
  }

  .row {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

