.card-title {
    margin-bottom: .75rem;
    font-family: Acumin,sans-serif;
}

.card-text:last-child {
    margin-bottom: 0;
    font-family: 'acumin-pro',sans-serif;
}


.text-muted {
    color: #6c757d!important;
    font-family: 'acumin-pro',sans-serif;
}

@media screen and (max-width: 1920px){
    .card-deck{
        margin:100px;
    }

    .card{
        width: 80%;
    }
}


@media screen and (max-width: 768px){

    .card-deck{
        margin:35px;
        justify-content: center;
    }

    .card{
        align-content: center;
        margin:0px;
        width:100px;
    }

    .card-img-top{
        height:250px !important;
    }
}

@media screen and (max-width: 620px){
    .card{
        align-content: center;
        margin:40px;
        width: 80%;
    }
}

@media screen and (max-width: 375px){

    
    .card-deck{
        margin:35px;
        align-content: center;
    }

    .card-deck .card{
        margin-bottom: 30px !important;
    }

    .card{
        margin: 35px !important;
    }

    p{
        font-size:20px !important;
        
    }

    .card-text{
        align-content: center;
    }


}
